<section class="content sectioninfo" id="about">
  <h3>О нас</h3>
  <ul class="about">
           <li>
            Собственное производство. Инструменты, материалы и прочее - в наличии.
           </li>
           <li>
            Работаем с черным металлом, сталью.
            Пользуемся ручной электродуговой и полуавтоматической сваркой.
           </li>
           <li>
            Знаем что такое ГOCT и СHиП.
            Мастера с опытом работы.
            <li>
            Предоставим фото, видеоотчеты о выполненной работе.
            </li>
            <li>
            Организуем приобретение, доставку и выгрузку материала.
           </li>
        <li>
          При необходимости привлечем мастеров других специализаций, которые выполнят необходимые работы по их направлениям.
        </li>
        <li>
         Работаем всегда по договору, предоставляем гарантию на изделия.
        </li>
        <li>
          Поэтапная оплата по факту выполненных работ.
         </li>
         <li>
          Делаем работу аккуратно и качественно, соблюдаем сроки.
         </li>
        <li>
         Позвоните нам! Ответим на все вопросы.
       </li>
  </ul>
</section>
